
@mainColor: rgba(45, 125, 194, 1);
body {
  margin: 0;
}
.video_player {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  
    .p_video {
      width: 100%;
      height: 100%;
      display: block;
      background: #000;
      z-index: -1;
      object-fit: scale-down;
    }
  
    .p_controls {
      display: flex;
      position: absolute;
      width: 100%;
      height: 44px;
      background-color: rgba(0, 16, 27, .7);
      bottom: -44px;
      transition: bottom 0.3s;
      left: 0;
      justify-content: space-between;
      align-items: center;
      z-index: 999;
      /* 进度条 */
      .progress_bar {
        position: absolute;
        cursor: pointer;
        top: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: hsla(0,0%,100%,.35);
        transition: height .15s linear, top .15s linear;
        .current_dot {
            position: absolute;
            opacity: 0;
            z-index: 101;
            top: 50%;
            left: 0px;
            padding: 5px;
            background-color: #fff;
            transform: translateY(-50%) translateX(-50%);
            border-radius: 50%;
            transition: padding .15s linear, top .15s linear, width .15s linear;
        }
        .current_progress {
            width: 0px;
            height: 100%;
            position: relative;
            z-index: 100;
            background-color: @mainColor;
        }
        .current_buffer {
            z-index: 99;
            width: 0;
            height: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            background-color: hsla(0,0%,100%,.35);
        }
      }

      .date_label {
        position: absolute;
        width: 48px;
        height: 22px;
        line-height: 20px;
        top: -34px;
        left: 0;
        visibility: hidden;
        font-size: 12px;
        transform: translateX(-50%);
        color: #fff;
        text-align: center;
        border-radius: 4px;
        background-color: rgba(0, 16, 27, .7);
      }

      .date_label::after {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-top: 4px solid rgba(0, 16, 27, .7);
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
      }


  
      .controls_left {
        display: flex;
        align-items: center;
        margin-left: 16px;
      }
  
      .controls_right {
        display: flex;
        z-index: 999;
        align-items: center;
        justify-content: flex-end;
        > * {
          cursor: pointer;
          margin-right: 14px;
        }
        /* 倍速 */
        .speed_bth {
          position: relative;
          .speed_li {
            position: absolute;
            display: none;
            bottom: 0px;
            width: 58px;
            padding-bottom: 34px;
            text-align: center;
            color: #fff;
            font-size: 14px;
  
            div {
              cursor: pointer;
              background-color: rgba(0, 16, 27, .7);
              line-height: 22px;
              margin-bottom: 1px;
              border-radius: 2px;
            }
  
            div.on {
              color: @mainColor;
            }
  
            div:hover {
              color: @mainColor;
            }
          }
  
          span {
            cursor: pointer;
            display: inline-block;
            color: #fff;
            text-align: center;
            min-width: 40px;
            padding: 0 10px;
            line-height: 22px;
            background-color: rgba(0, 0, 0, .35);
            border-radius: 12px;
            font-size: 15px;
          }
        }
  
        .speed_bth:hover {
          span {
            background-color: @mainColor;
          }
  
          .speed_li {
            display: block;
          }
        }
  
        /* 音量 */
        .volume_bth {
          position: relative;
          display: flex;
          .volume_con {
              position: absolute;
              display: none;
              bottom: 0;
              width: 34px;
              height: 112px;
              left: -8px;
              .volume_slider {
                  position: absolute;
                  text-align: center;
                  border-radius: 10px;
                  padding: 14px 14px;
                  background-color: rgba(0, 0, 0, 0.5);
                  right: -46px;
                  top: 0;
                  transform: rotate(-90deg);
              }
          }
        }
  
        .volume_bth:hover {
          .volume_con {
            display: block;
          }
        }
      }

      // 播放按钮图片
      .button_img {
        width: 14px;
        height: 14px;
        box-sizing: border-box;
        z-index: 9;
      }

      .button_img.suspend {
        background: url(./assets/zanting.svg);
        background-size: cover;
      }
      // 音量按钮图片
      .button_img.sound {
        background: url(./assets/mn_shengyin_fill.svg);
        background-size: cover;
      }
      .button_img.mute {
        background: url(./assets/mn_shengyinwu_fill.svg);
        background-size: cover;
      }

      // 全屏按钮
      .button_img.full {
        background: url(./assets/quanping.svg);
        background-size: cover;
      }
      .button_img.scale {
        background: url(./assets/suoxiao.svg);
        background-size: cover;
      }
  
      .time {
        color: #fff;
        padding-left: 10px;
        font-size: 14px;
      }
    }

    .button_img.play, .cover_img.play {
        background: url(./assets/bofang.svg);
        background-size: cover;
      }
      // .cover_img.play {
      //   background: url(./assets/play.svg);
      //   background-size: cover;
      // }
  
    .video_cover {
        position: absolute;
        // display: none;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        .cover_content {
          width: 100px;
          height: 100px;
          overflow: auto;
          position: absolute;
          margin: auto;
          top:0;
          bottom:0;
          left:0;
          right:0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          // 蒙层错误图片
          .cover_img {
            width:40px;
            height:40px;
            box-sizing: border-box;
          
          }

          .cover_img.error {
            background: url(./assets/error.svg);
            background-size: cover;
          }
  
          .tips_error {
              margin-top: 8px;
          }
  
          .tips_text {
              color: #fff;
              font-size: 12px;
              text-align: center;
          }
  
          .video_loading {
              .spot {
                  width: 4px;
                  height: 4px;
                  border-radius: 2px;
                  background: #ffffff;
                  float: left;
                  margin: 8px 4px;
                  animation: spot linear 1s infinite;
                  -webkit-animation: spot linear 1s infinite;
              }
              .spot:nth-child(1){
                  animation-delay:0s;
              }
              .spot:nth-child(2){
                  animation-delay:0.15s;
              }
              .spot:nth-child(3){
                  animation-delay:0.3s;
              }
              .spot:nth-child(4){
                  animation-delay:0.45s;
              }
              .spot:nth-child(5){
                  animation-delay:0.6s;
              }
              @keyframes spot 
              {
                  0%,60%,100% {transform: scale(1);}
                  30% {transform: scale(2.5);}
              }
              @-webkit-keyframes spot 
              {
                  0%,60%,100% {transform: scale(1);}
                  30% {transform: scale(2.5);}
              }
            }
        }
    }
  }
  
  .p_controls.showControls {
    bottom: 0 !important;
    .progress_bar .current_dot {
      opacity: 1 !important;
    }
    .hover_cls.progress_bar {
      height: 6px;
      .current_dot {
        padding: 8px;
      }
    }
  }
  
  // .video_player.showControls {
  //   .p_controls {
  //     bottom: 0 !important;
  //   }
  //   .progress_bar .current_dot {
  //     opacity: 1 !important;
  //   }
  //   .hover_cls.progress_bar {
  //     height: 6px;
  //     .current_dot {
  //       width: 10px;
  //       height: 10px;
  //     }
  //   }
  // }

  input[type="range"] {
    display: block;
    -webkit-appearance: none;
    background: -webkit-linear-gradient(@mainColor, @mainColor) no-repeat, #ddd;/*设置左边颜色为#61bd12，右边颜色为#ddd*/
    background-size: 75% 100%;/*设置左右宽度比例*/
    width: 100px;
    height: 4px;
    border-radius: 5px;
    margin: 0 auto;
    outline: 0;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  //   border: 2px solid white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 2px solid #49a9ee;
  }
  
  input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.6);
  
  }
  
  
  